.share-button {
  width: var(--size-125);
}

.modal {
  --max-width: 30rem;
  --inline-gap: 1rem;

  width: min(var(--max-width), calc(100% - var(--inline-gap) * 2));
  color: var(--clr-theme);
  background-color: var(--bg-theme);
  padding: var(--size-125);
  border: none;
  border-radius: var(--size-35);
  outline: none;
  overflow: hidden;
}

.modal__title {
  font-size: 1.1em;
  text-align: center;
  margin-block-end: 1em;
}

.modal__body {
  display: grid;
}

.modal__link-copy--wrapper {
  --padding: var(--size-25);

  position: relative;
  height: calc(var(--control-height) * 1.8);
  padding: var(--padding);
  border: var(--control-border);
  border-radius: var(--control-border-radius);
}

.modal__link-copy--wrapper > div {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  color: var(--clr-code);
  padding-inline: var(--size-25);
  overflow: scroll hidden;
  scrollbar-color: var(--accent-theme) transparent;
  scrollbar-width: thin;
}

.code-copy-button {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
}
