.share-button {
  width: var(--size-125);
}

.modal {
  --modal-padding: 1.5em;

  top: -25%;
  color: var(--clr-theme);
  background-color: var(--bg-theme);
  padding: var(--modal-padding);
  border: none;
  border-radius: var(--size-35);
  outline: none;
  overflow: hidden;
}

.modal > button:first-child {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.85em;
  right: 0.85em;
  width: 0.85em;
  height: 0.85em;
  color: var(--accent-theme);
  transition: color var(--default-animation-duration)
    var(--default-animation-timing-function);
}

.modal > button:first-child:hover,
.modal > button:first-child:focus-visible {
  color: var(--clr-theme);
}

.modal__title {
  font-size: 1.1em;
  text-align: center;
  margin-block-end: 1em;
}

.modal__body {
  display: grid;
  font-size: 0.9em;
}
