.share-button {
  width: var(--size-125);
}

.modal {
  --max-width: 30rem;
  --inline-gap: 1rem;

  width: min(var(--max-width), calc(100% - var(--inline-gap) * 2));
  color: var(--clr-theme);
  background-color: var(--bg-theme);
  padding: var(--size-125);
  border: none;
  border-radius: var(--size-35);
  outline: none;
  overflow: hidden;
}

.modal__title {
  font-size: 1.1em;
  text-align: center;
  margin-block-end: 1em;
}

.modal__body {
  display: grid;
}
