.btn {
  display: grid;
  place-items: center;
  height: var(--control-height);
  color: var(--clr-theme);
  background-color: transparent;
  border: var(--control-border);
  border-radius: var(--control-border-radius);
  outline: 1px solid transparent;
  transition: background-color var(--default-animation-duration)
    var(--default-animation-timing-function);
}

.btn:hover,
.btn:focus-visible,
.btn[data-selected] {
  background-color: var(--accent-theme);
}
