.btn {
  display: grid;
  place-items: center;
  height: var(--control-height);
  color: var(--clr-theme);
  background-color: transparent;
  border: var(--control-border);
  border-radius: var(--control-border-radius);
  outline: 1px solid transparent;
  transition-property: border background-color;
  transition-duration: var(--default-animation-duration);
  transition-timing-function: var(--default-animation-timing-function);
}

.btn:hover,
.btn:focus-visible,
.btn[data-selected] {
  color: var(--control-color);
  background-color: var(--accent-theme);
}
