.color-group {
  min-height: var(--control-height);
  height: var(--control-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--size-50);
}

.label {
  height: 100%;
  position: relative;
}

.color--delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0;
  transform: translate(135%, -50%) scale(0);
  color: var(--accent-theme);
  visibility: hidden;
  transition-property: transform, color;
  transition-duration: var(--default-animation-duration);
  transition-timing-function: var(--default-animation-timing-function);
}

.color-group:hover .color--delete,
.color-group:focus-within .color--delete {
  visibility: visible;
  transform: translate(135%, -50%) scale(1);
}

.color--delete:hover,
.color--delete:focus-visible {
  color: var(--clr-theme);
}

.input {
  width: 100%;
  height: 100%;
  color: var(--clr-theme);
  background-color: transparent;
}

.input[type="color"] {
  padding: 0.1em 0.5em;
  border: var(--control-border);
  border-radius: 0.25em;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: border-color 500ms ease;
}

.input[type="color"]:focus-visible {
  border-color: var(--clr-theme);
}

.input[type="text"] {
  text-align: center;
  border: none;
  outline: 1px solid transparent;
}

.percentage-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.1em;
  padding-inline: 1.25em;
  border: var(--control-border);
  border-radius: 0.25em;
  transition: border-color 500ms ease;
}

.percentage-container:focus-within {
  border-color: var(--clr-theme);
}
