.code-container {
  --padding: var(--size-25);

  position: relative;
  height: calc(var(--control-height) * 2);
  padding: var(--padding);
  border: var(--control-border);
  border-radius: 0.25em;
}

.copy-to-clipboard {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  width: var(--size-100);
  color: var(--accent-theme);
  transition: color 500ms ease;
}

.copy-to-clipboard:hover,
.copy-to-clipboard:focus-visible {
  color: var(--clr-theme);
}
