.copy-to-clipboard {
  width: var(--size-100);
  color: var(--accent-theme);
  background-color: var(--bg-theme);
  z-index: 10;
  transition-property: color, background-color;
  transition-duration: var(--default-animation-duration);
  transition-timing-function: var(--default-animation-timing-function);
}

.copy-to-clipboard:hover,
.copy-to-clipboard:focus-visible {
  color: var(--clr-theme);
}

.scaleIn {
  animation: scaleIn var(--default-animation-duration)
    var(--default-animation-timing-function);
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
