.cp__header {
  padding-block-end: var(--size-35);
}

.cp__togglers-wrapper {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--size-75);
}

.cp__left-buttons-wrapper {
  display: flex;
  column-gap: 1em;
}

.cp__title {
  font-size: var(--fs-title);
}
