.control-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-50);
  min-width: 100vw;
  padding: var(--size-125) var(--size-150);
  padding-block-end: var(--size-75);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
  transition: transform 500ms ease;
}

.control-panel[data-display="hidden"] {
  transform: translateX(-100%);
}

@media (min-width: 60rem) {
  .control-panel {
    min-width: var(--control-panel-min-width);
  }
}
