.control-panel--toggler {
  position: relative;
  border-radius: 50%;
  transition-property: transform, background-color;
  transition-duration: var(--default-animation-duration);
  transition-timing-function: var(--default-animation-timing-function);
}

.control-panel--toggler[data-position="outside-container"] {
  background-color: var(--bg-theme);
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.5);
  transform: translateX(250%) rotateY(180deg);
}
