:root {
  --clr-neutral-200: hsl(240, 10%, 96%);
  --clr-neutral-800: hsl(240, 10%, 16%);

  --clr-accent-300: hsl(333, 22%, 80%);
  --clr-accent-800: hsl(333, 22%, 20%);

  --clr-theme-light: var(--clr-accent-800);
  --clr-theme-dark: var(--clr-accent-300);
  --bg-theme-light: var(--clr-neutral-200);
  --bg-theme-dark: var(--clr-neutral-800);

  --clr-theme: var(--clr-theme-light);
  --bg-theme: var(--bg-theme-light);
  --accent-theme: var(--clr-accent-800);

  --ff-neutral: system-ui, -apple-system, sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-100: 1rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;

  --fs-title: clamp(var(--fs-125), 1.5vw, var(--fs-150));

  --size-50: 0.5rem;
  --size-100: 1rem;
  --size-125: 1.25rem;
  --size-150: 1.5rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-neutral);
  color: var(--clr-theme);
  background-color: var(--bg-theme);
}

[data-theme="dark"] {
  --clr-theme: var(--clr-theme-dark);
  --bg-theme: var(--bg-theme-dark);
  --accent-theme: var(--clr-accent-300);
}

@media (prefers-color-scheme: dark) {
  body {
    --clr-theme: var(--clr-theme-dark);
    --bg-theme: var(--bg-theme-dark);
    --accent-theme: var(--clr-accent-300);
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100dvh;
}

/* Utility Classes */

button {
  cursor: pointer;
}

.container {
  max-width: 120rem;
}

.toggler-button {
  width: var(--size-150);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: inherit;
  background-color: inherit;
  border: none;
}

.toggler-button svg {
  color: var(--accent-theme);
  width: 100%;
  height: 100%;
}

.text-bold {
  font-weight: var(--fw-bold);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
