:root {
  --clr-neutral-200: hsl(240, 10%, 96%);
  --clr-neutral-300: hsl(240, 10%, 76%);
  --clr-neutral-700: hsl(240, 10%, 26%);
  --clr-neutral-800: hsl(240, 10%, 16%);

  --clr-accent-200: hsl(330, 20%, 92%);
  --clr-accent-400: hsl(332, 22%, 68%);
  --clr-accent-800: hsl(333, 22%, 20%);

  --clr-theme-light: var(--clr-accent-800);
  --clr-theme-dark: var(--clr-accent-200);
  --bg-theme-light: var(--clr-neutral-200);
  --bg-theme-dark: var(--clr-neutral-800);

  --clr-theme: var(--clr-theme-light);
  --bg-theme: var(--bg-theme-light);
  --accent-theme: var(--clr-accent-400);
  --clr-code: var(--clr-neutral-700);

  --ff-primary: system-ui, -apple-system, sans-serif;
  --ff-code: monospace;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-60: 0.6rem;
  --fs-70: 0.7rem;
  --fs-80: 0.8rem;
  --fs-90: 0.9rem;
  --fs-100: 1rem;
  --fs-110: 1.1rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;
  --fs-175: 1.75rem;

  --fs-body: var(--fs-90);
  --fs-title: var(--fs-150);
  --fs-footer: var(--fs-80);

  --size-15: 0.15rem;
  --size-20: 0.2rem;
  --size-25: 0.25rem;
  --size-30: 0.3rem;
  --size-35: 0.35rem;
  --size-50: 0.5rem;
  --size-75: 0.75rem;
  --size-95: 0.95rem;
  --size-100: 1rem;
  --size-125: 1.25rem;
  --size-150: 1.5rem;
  --size-185: 1.85rem;
  --size-200: 2rem;
  --size-215: 2.15rem;

  --control-panel-min-width: max(18rem, 17.5vw);
  --control-height: var(--size-185);
  --control-border: 2px solid var(--accent-theme);
  --control-border-radius: 0.35em;
  --control-gap: var(--size-50);

  --default-animation-duration: 500ms;
  --default-animation-timing-function: ease;
}

@media (min-width: 45rem) {
  :root {
    --fs-body: var(--fs-110);
    --fs-title: var(--fs-175);
    --fs-footer: var(--fs-80);

    --control-height: var(--size-215);
    --control-border: 2px solid var(--accent-theme);
  }
}

@media (min-width: 60rem) {
  :root {
    --fs-body: clamp(var(--fs-70), 0.82vw, var(--fs-100));
    --fs-title: clamp(var(--fs-100), 1.25vw, var(--fs-150));
    --fs-footer: clamp(var(--fs-60), 0.7vw, var(--fs-90));

    --control-height: clamp(var(--size-150), 3.1vh, var(--size-185));
    --control-border: 1px solid var(--accent-theme);
    --control-gap: clamp(var(--size-20), 0.2vw, var(--size-35));
  }
}

@media (min-width: 100rem) {
  :root {
    --control-border: 2px solid var(--accent-theme);
    --control-gap: var(--size-30);
  }
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

*:not(dialog) {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main Styles */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-theme);
  background-color: var(--bg-theme);
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: 1px solid transparent;
}

code {
  font-family: var(--ff-code);
}

svg {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar {
  width: var(--size-25);
  height: var(--size-25);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-theme);
  border-radius: var(--size-20);
}

@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-theme);
  }
}

[data-theme="dark"] {
  --clr-theme: var(--clr-theme-dark);
  --bg-theme: var(--bg-theme-dark);
  --accent-theme: var(--clr-accent-400);
  --clr-code: var(--clr-neutral-300);

  color: var(--clr-theme);
  background-color: var(--bg-theme);
}

/* Utility Classes */

.container {
  max-width: 120rem;
}

.toggler-button {
  width: var(--size-150);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: inherit;
  background-color: inherit;
  border: none;
}

.toggler-button:focus-visible {
  outline: 1px solid transparent;
}

.toggler-button svg {
  color: var(--accent-theme);
  width: 100%;
  height: 100%;
  transition: color var(--default-animation-duration)
    var(--default-animation-timing-function);
}

.toggler-button:hover svg,
.toggler-button:focus-visible svg {
  color: var(--clr-theme);
}

.text-bold {
  font-weight: var(--fw-bold);
}

.text-center {
  text-align: center;
}

.margin-block-end-50 {
  margin-block-end: 0.35em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
