.header {
  display: flex;
  justify-content: space-between;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--control-gap);
}

.colors-wrapper {
  display: flex;
  flex-direction: column;
  max-height: calc(var(--control-height) * 3.35);
  gap: var(--control-gap);
  padding-inline: 0.15em;
  overflow: hidden auto;
  scrollbar-color: var(--accent-theme) transparent;
  scrollbar-width: thin;
}

.control--add-color svg {
  height: 1.2em;
  width: 1.2em;
}
